mercurial==1.9.1
-e hg+https://bitbucket.org/wkornewald/django-nonrel#egg=Django-tip
-e hg+https://bitbucket.org/twanschik/django-autoload#egg=django_autoload-tip
-e hg+https://bitbucket.org/wkornewald/django-dbindexer#egg=django_dbindexer-tip
-e hg+https://bitbucket.org/wkornewald/djangoappengine#egg=djangoappengine-tip
-e hg+https://bitbucket.org/wkornewald/djangotoolbox#egg=djangotoolbox-tip
wsgiref==0.1.2
django-model-utils==1.0.0
django-uni-form==0.9.0
