
# Symlinks to installed apps. Use scripts/create_symlinks.sh to create the links.
autoload
dbindexer
django
djangoappengine
djangotoolbox
model_utils
uni_form

# Other project specific ignores
todo.txt
ultrasimpleblog_project/local_settings.py
.gaedata
site_media
