body { font-family: Arial, Helvetica, sans-serif; font-size: 14px; #color: #555555; line-height: 22px; }
#content { margin: auto; width: 600px; }
#content2 { margin-bottom: 80px; }
#content img { border: 1px solid #eeeeee; }
#content hr { border: none; border-bottom: 1px dotted #cccccc; }
#content h1 { color: #444444; text-align: center; font-weight: normal; margin-top: 40px; }
#content h2 { color: #444444; font-weight: normal;  }
#content h3 { color: #444444; font-weight: normal; font-size: 22px; margin-top: 50px;  }
#content h3.first { margin-top: 40px; }
#content p { color: #555555; }
#content #metadata { text-align: center; }
#content #thankyou { text-align: center; margin: 30px 0; }
#content #table-of-contents { margin-bottom: 35px; }
#content p.code { border: 1px #ddd solid; padding: 10px; color: red; }
.custom-work { padding: 0 50px; background-color: #eee; border: 1px #ddd solid; margin-bottom: 30px; }

