{% extends "base.html" %}

{% load markup %}
{% load oembed_tags %}

{% block content %}
{% include "blog/_article_controls" %}
<div class="article">
    <h2 class="article-title">{{ article.title }}</h2>
    <div class="published">
        {% if article.published %}
        Published on: {{ article.published_date }}
        {% else %}
        Unpublished
        {% endif %}
    </div>
    <div class="article-body">
        {% oembed %}
        {{ article.content|markdown:"safe" }}
        {% endoembed %}
    </div>
</div>
<hr/>
{% endblock %}
